body {
    margin: 0;
    background-color: black;
}

@font-face {
    font-family: myFont;
    src: url(font/Raleway-Thin.woff);
}

.italo {
    font-style: italic;
}
.container {
 position: relative;
    width: 1000px;
    height: 100%;
    margin: 0 auto; /*centers div*/
    
}

img[name='bgimage']{
    width: 40%;
    height: 100vh;
}

img[name='lupa'] {
    position: absolute;
    width: 90px;
    height: 130px;
    top: 11rem ;
    left: 3rem;
    z-index: 1;
    border: solid 1px aqua;

}

.logo {
    position: absolute;
    width:40%;
    height: 9.3em;
    background: black;
    opacity: 0.5;
    color: white;
    top: 10.4rem;
    font-family: myFont, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    

}

.logotext {
    position: absolute;
    top: 11rem;
    left: 15%;
    font-family: myFont, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aqua;
    font-weight:bolder;
    font-size: 6rem;
    
}


p, 
label,
.text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .8em;
}

label{
    font-size: .6em;
    font-weight: bold;
    color: rgb(126, 120, 120);
}

input:focus {

    outline: none;
    border: 1px solid rgb(69, 69, 180);
    box-shadow: 1px 1px 3px rgb(65, 65, 83) ;

}

input {
    
    border: 1px solid #dfdcc8;
    border-radius: 5px;
    padding: .4rem;
}

input[type='password']:invalid {

border: 1px solid red;
}


.textformfoot {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100vh;
    background-color: rgb(245, 242, 237);
    
}

.introtext {
    margin: 6rem 4rem 1rem 2rem;
    font-weight: bold;
    font-size: 1.5rem;
}

#formtext {
    position: relative;
    top: 4rem;
}

form {
    
    display: flex;
    flex-wrap: wrap;
    gap: 0 2rem;
    background-color: white;
    padding: 2rem;
    box-shadow: 0 6px 3px -3px rgb(196, 190, 190);
}

.field {
    display: flex;
    flex-direction: column;
    margin-top: 1.3rem;
    flex: 1 1 250px; /* grow, shrink, basis */
}

.footer {
    padding: 2em 1em;
    margin-left: 1.2rem;
}

button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    padding: 1em 4rem;
    border-radius: 5px;
    background-color: rgb(199, 154, 117);
    color: white;
    border: none;
    cursor: pointer;

}

button + p {
    font-size: .9em;
}

a {
    font-weight: bold;
    color:  rgb(107, 65, 31);
}

